@model IEnumerable<EngineerCodeFirst.ViewModel.BusesOnTour>

@{
    ViewBag.Title = "Statistic";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<style>
    #map_canvas img {
        max-width: none;
    }
</style>


@section scripts {
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <section class="scripts">

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                initialize();
            });
            function initialize() {
                var mapOptions = {
                    center: new google.maps.LatLng(@Model.First().Latitude,@Model.First().Longitude),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"),
                  mapOptions);
                // create a marker
                var latlng = new google.maps.LatLng(@Model.First().Latitude, @Model.First().Longitude);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                });
            }
        </script>
    </section>
}


<h3>On Tour</h3>
<table cellpadding="10">
    <tr>
        <th>
            Bus
        </th>
        <th>
            Driver
        </th>
        <th>
            Line
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>
            <td>
                @item.Driver
            </td>
            <td>
                @item.Line
            </td>
            @*
             ***** display geolocation for particular bus ******
                 <td>
                    (
                    @item.Latitude
                    ,
                    @item.Longitude
                    )
                </td>
            *@

        </tr>
    }
</table>

<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 400px; margin-top: 25px;" ></div>