@model IEnumerable<EngineerCodeFirst.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stop.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line.Direction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stop.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleID })
        </td>
    </tr>
}

</table>
